[submodule "01-birthday-reminder-app"]
	path = 01-birthday-reminder-app
	url = https://github.com/1hakann/01-birthday-reminder-app.git
[submodule "02-tours-app"]
	path = 02-tours-app
	url = https://github.com/1hakann/02-tours-app.git
[submodule "03-reviews-app"]
	path = 03-reviews-app
	url = https://github.com/1hakann/03-reviews-app.git
[submodule "04-accordion-app"]
	path = 04-accordion-app
	url = https://github.com/1hakann/04-accordion-app.git
